@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  color: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  background-color: hsl(36deg, 100%, 99%);
}
body div.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: hsl(240deg, 100%, 5%);
  opacity: 0.35;
}
body div.backdrop.hide {
  display: none;
}
body div.backdrop.show {
  display: block;
}

.container {
  height: 100vh;
  margin: 1.3rem;
}
.container .header {
  margin-bottom: 1rem;
}
.container .header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .header .logo img:first-child {
  width: 40px;
  height: 25px;
}
.container .header .menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 55%;
  height: 100%;
  gap: 50px;
  padding: 2rem;
  padding-right: 0;
}
.container .header .menu div:first-child {
  text-align: right;
  padding-right: 1rem;
}
.container .header .menu div:first-child img {
  width: 30px;
  height: 25px;
}
.container .header .menu div:last-child {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.1rem;
  color: hsl(240deg, 100%, 5%);
}
.container .header .menu div:last-child a:hover {
  color: hsl(5deg, 85%, 63%);
}
.container .header .menu.hidden {
  display: none;
}
@media screen and (min-width: 650px) {
  .container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .header .logo img:first-child {
    width: 55px;
    height: 35px;
  }
  .container .header .logo img:last-child {
    display: none;
  }
  .container .header .menu {
    position: unset;
    background-color: unset;
  }
  .container .header .menu.hidden {
    display: block;
  }
  .container .header .menu div:first-child {
    display: none;
  }
  .container .header .menu div:last-child {
    display: flex;
    gap: 1.8rem;
    flex-direction: row;
    justify-content: end;
  }
  .container .header .menu div:last-child a {
    font-size: 0.98rem;
    font-weight: 400;
    color: hsl(236deg, 13%, 42%);
  }
}
.container main {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.container main .latest-blog {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.container main .latest-blog .info {
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
  flex-direction: column;
}
.container main .latest-blog .info h1 {
  color: hsl(240deg, 100%, 5%);
  font-size: 3rem;
  line-height: 1;
}
.container main .latest-blog .info .info-content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
}
.container main .latest-blog .info .info-content p {
  line-height: 2;
  color: hsl(236deg, 13%, 42%);
}
.container main .latest-blog .info .info-content button {
  border: none;
  background-color: hsl(5deg, 85%, 63%);
  color: hsl(36deg, 100%, 99%);
  padding: 1rem 2rem;
  width: 200px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.container main .latest-blog .info .info-content button:hover {
  cursor: pointer;
  background-color: hsl(240deg, 100%, 5%);
}
.container main .new-list {
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  flex-direction: column;
  background-color: hsl(240deg, 100%, 5%);
}
.container main .new-list h2 {
  color: hsl(35deg, 77%, 62%);
  font-size: 2rem;
}
.container main .new-list .blogs {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.container main .new-list .blogs .blog {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.container main .new-list .blogs .blog h3 {
  color: hsl(36deg, 100%, 99%);
}
.container main .new-list .blogs .blog h3:hover {
  cursor: pointer;
  color: hsl(35deg, 77%, 62%);
}
.container main .new-list .blogs .blog p {
  color: hsl(233deg, 8%, 79%);
}
.container main .new-list .blogs .blog::after {
  content: "";
  background-color: hsl(233deg, 8%, 79%);
  height: 1px;
  display: flex;
  margin-top: 1rem;
  width: 100%;
}
.container main .new-list .blogs .blog:last-child::after {
  display: none;
}
.container main .top-blogs {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.container main .top-blogs .top-blog {
  display: flex;
  gap: 1.5rem;
}
.container main .top-blogs .top-blog img {
  width: 100px;
}
.container main .top-blogs .top-blog .top-blog-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  height: 127px;
}
.container main .top-blogs .top-blog .top-blog-content h2 {
  color: hsl(233deg, 8%, 79%);
  font-size: 1.7rem;
}
.container main .top-blogs .top-blog .top-blog-content h3 {
  color: hsl(240deg, 100%, 5%);
  font-weight: 700;
}
.container main .top-blogs .top-blog .top-blog-content h3:hover {
  cursor: pointer;
  color: hsl(5deg, 85%, 63%);
}
.container main .top-blogs .top-blog .top-blog-content p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.6;
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
  }
  .container main {
    display: grid;
    max-height: 750px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .container main .latest-blog {
    grid-row: 1 span;
    grid-column: 2 span;
  }
  .container main .latest-blog .info {
    flex-direction: row;
  }
  .container main .new-list {
    grid-row: 1 span;
    grid-column: 1 span;
  }
  .container main .top-blogs {
    grid-row: 1 span;
    grid-column: 3 span;
    flex-direction: row;
  }
}